.hamburger {
  display: flex;
  flex-direction: column;
  background: transparent;
  cursor: pointer;

  &__item {
    display: block;
    box-sizing: content-box;
    width: 25px;
    height: 2px;
    margin: 1px;
    border: 0.5px solid $light;
    border-radius: 5px;
    background: $dark;

    &:nth-child(odd) {
      transition: 0.3s ease-in-out;
    }

    &:nth-child(even) {
      transition: 0.2s ease-in-out;
    }
  }
}

.hamburger--open {
  .hamburger__item {
    &:nth-child(1) {
      transform: translateY(6px) rotate(225deg);
    }

    &:nth-child(2) {
      opacity: 0;
      transform: rotate(550deg);
    }

    &:nth-child(3) {
      transform: translateY(-6px) rotate(-225deg);
    }
  }
}

.hamburger:hover {
  .hamburger__item {
    border-color: $highlight-hover;
    background: $highlight-hover;
  }
}
