.hamburger {
  z-index: 999;
  display: flex;
  flex-direction: column;
  background: transparent;
  cursor: pointer;

  &__item {
    @include breakpoint(large) {
      border-color: $highlight-stronger;
    }

    display: block;
    box-sizing: content-box;
    width: 25px;
    height: 2px;
    margin: 1.5px;
    border: 0.5px solid $light;
    border-radius: 5px;
    background: $highlight-stronger;

    &:nth-child(odd) {
      transition: 0.3s ease-in-out;
    }

    &:nth-child(even) {
      transition: 0.2s ease-in-out;
    }
  }
}

.hamburger--open {
  @include breakpoint(large) {
    z-index: 1;
  }

  .hamburger__item {
    @include breakpoint(large) {
      opacity: 0;
    }

    background-color: $highlight-stronger;

    &:nth-child(1) {
      transform: translateY(7px) rotate(225deg);
    }

    &:nth-child(2) {
      opacity: 0;
      transform: rotate(550deg);
    }

    &:nth-child(3) {
      transform: translateY(-7px) rotate(-225deg);
    }
  }
}
