.media-bar {
  display: flex;
  flex: 1;

  &__item {
    padding-right: 1.5em;
    text-align: center;

    .fab {
      color: $light;
      font-size: 1.8em;
      transition: 0.2s ease-in-out;
    }

    .fab:hover {
      color: $highlight-hover;
      text-shadow: 1px 1px 1px $dark;
    }
  }
}
