.media-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  &__item {
    padding-top: 1em;
    text-align: center;

    .fab {
      color: $light;
      font-size: 1.5em;
      transition: .2s ease-in-out;
    }

    .fab:hover {
      color: $highlight-hover;
      text-shadow: 1px 1px 1px $dark;
    }
  }
}
