.media-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;


  &__item {
    text-align: center;
    
    .fab {
      color: $light;
      font-size: 20px;
    }
  }
}