{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-hudochenkov/full"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "selector-class-pattern": 
  }
}