.about-me {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  padding: 10%;

  &__heading {
    @include title;

    flex: 1;
    padding: 5%;
  }

  &__picture {
    display: flex;
    flex: 4;
    align-self: center;
    justify-content: space-around;
  }

  &__description {
    position: relative;
    flex: 4;
  }
}

.img-container {
  position: relative;
  margin: 5%;

  img {
    max-width: 50vw;
    height: auto;
    border-radius: 5px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -5%;
    left: 10%;
    z-index: -1;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 110%;
    border: 4px solid $highlight-stronger;
    border-radius: 5px;
    background: transparent;
    opacity: 0.7;
  }

  &:nth-child(1) {
    @include breakpoint(small) {
      display: block;
      align-self: center;
      margin-right: 5vw;

      img {
        width: 30vw;
        max-width: 280px;
      }

      &::before {
        top: -13%;
        border: 0;
        background-color: $highlight-stronger;
        opacity: 0.3;
      }
    }

    display: none;
  }

  &:nth-child(2) {
    @include breakpoint(small) {
      img {
        width: 20vw;
        max-width: 250px;
      }
    }
  }
}

.description {
  @include breakpoint(xmedium) {
    padding: 2em 5em;
  }

  padding: 2em;

  &__paragraph {
    color: $dark;
    font-size: 1em;
    text-align: justify;
  }

  &--bold {
    font-weight: 600;
  }
}
