@import '../components/media-bar';

.home {
  width: 100%;
  height: 90vh;
  margin-bottom: 10vh;

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $highlight-stronger;
  }

  &__content-wrapper {
    position: absolute;
    left: 10%;
    bottom: 15%;
    z-index: 5;
  }
}

.welcome-text {
  color: $light;
  font-family: $montserrat;
  text-shadow: 1px 1px 2px $dark;

  &__heading {
    font-weight: 600;
    font-size: 3.1em;

    span {
      display: block;
    }
  }

  &__paragraph {
    margin: 1em 0;
    font-weight: 500;
    font-size: 1.5em;
  }
}
