@import '../components/hamburger';
@import '../components/menu';

.nav__hamburger {
  @include breakpoint(medium) {
    top: 40%;
  }

  position: fixed;
  top: 5%;
  right: 5%;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
