.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  max-height: 100%;
  padding: 10%;

  &__heading {
    @include title;

    flex: 1;
    padding: 5%;
  }

  &__skills-container {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
    padding: 5%;
  }
}

.skill {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 15.1em;
  margin: 0.7em;
  border: 1px solid $highlight;
  border-radius: 5px;
  box-shadow: 2px 2px $highlight-hover;
  transition: 0.1s ease-in;

  * {
    padding: 10px;
  }

  &__icon {
    color: $highlight-stronger;
    font-size: 3em;
    text-shadow: 1px 1px 1px $dark;
    transition: 0.2s ease-in-out;
  }

  &__name {
    color: $dark;
    font-weight: 600;
    font-size: 1em;
    font-family: $montserrat;
    text-align: center;
  }
}
.skill:hover {
  transform: scale(1.05);

  .skill__icon {
    text-shadow: none;
  }
}
