@import 'constants';
@import './sections/navigation';
@import './sections/home-page';
@import './sections/about-me-page';
@import './sections/skills-page';
@import './sections/portfolio-page';
@import './sections/contact_page';
@import './components/footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light;
}

.page {
  @include breakpoint(medium) {
    font-size: 1.1rem;
  }
  @include breakpoint(large) {
    font-size: 1.2rem;
  }

  position: relative;
  width: 100vw;
  // height: 100vh;
  min-height: 100vh;
}
