@import 'variables';
@import 'hamburger';
@import 'menu';
@import 'home-page';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $light;
}

.page {
  height: 100vh;
  width: 100vw;
}

.nav__hamburger {
  z-index: 999;
  position: fixed;
  top: 5%;
  right: 5%;
}

.nav__menu {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
