@import 'constants';
@import './sections/navigation';
@import './sections/home-page';
@import './sections/about-me-page';
@import './sections/skills-page';
@import './sections/portfolio-page';
@import './sections/contact_page';
@import './sections/footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light;
}

.page {
  position: relative;
  width: 100vw;
  // height: 100vh;
  min-height: 100vh;
}
